<template>
  <nav class="navbar navbar-dark bg-dark fixed-top">
    <div class="container-fluid">
      <a class="navbar-brand">Products</a>
    </div>
  </nav>
</template>

<script>
export default {
  name: "TheNavbar",
};
</script>
