<template>
  <div class="container">
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        v-model="product.name"
      />
    </div>
    <div class="mb-3">
      <label for="inputPrice" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        id="inputPrice"
        v-model="product.price"
      />
    </div>
    <button v-on:click="createProduct()" class="btn btn-primary">Submit</button>
  </div>
</template>

<script>
import ProductService from "@/services/ProductService";

export default {
  name: "CreateProduct",
  data() {
    return {
      product: {},
    };
  },

  methods: {
    createProduct() {
      ProductService.createProduct(this.product).then(() => {
        this.$router.push("/");
      });
    },
  },
};
</script>

<style>
.container {
  margin-top: 100px;
}
</style>
