<template>
  <div class="container">
    <table class="table table-striped">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Price</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="product in products" :key="product.id">
          <td>{{ product.id }}</td>
          <td>{{ product.name }}</td>
          <td>{{ product.price }}</td>
          <td>
            <div
              class="btn-group"
              role="group"
              aria-label="Basic mixed styles example"
            >
              <button
                type="button"
                class="btn btn-danger btn-sm px-3"
                v-on:click="deleteProductById(product.id)"
              >
                <i class="bi bi-xbox"></i>
              </button>

              <button
                type="button"
                class="btn btn-primary btn-sm px-3"
                v-on:click="updateProductById(product.id)"
              >
                <i class="bi bi-pencil-square"></i>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <button
      type="button"
      class="btn btn-success btn-sm px-3"
      v-on:click="createProduct()"
    >
    <i class="bi bi-plus-circle"></i>
    </button>
  </div>
</template>

<script>
import ProductService from "@/services/ProductService";

export default {
  name: "ReadProducts",
  data() {
    return {
      products: [],
    };
  },
  methods: {
    getAllProducts() {
      ProductService.getAllProducts().then((response) => {
        this.products = response.data;
      });
    },

    deleteProductById(id) {
      ProductService.deleteProductByID(id).then(() => {
        this.getAllProducts();
      });
    },

    updateProductById(id) {
      this.$router.push(`/${id}`);
    },

    createProduct() {
      this.$router.push("/create");
    },
  },

  created() {
    this.getAllProducts();
  },
};
</script>

<style scoped>
.table {
  margin-top: 100px;
}
.btn {
  margin: 5px;
}
</style>
