<template>
  <div class="container">
    <div class="mb-3">
      <label for="inputId" class="form-label">ID</label>
      <input
        type="number"
        class="form-control"
        id="inputId"
        v-model="product.id"
        disabled
      />
    </div>
    <div class="mb-3">
      <label for="inputName" class="form-label">Name</label>
      <input
        type="text"
        class="form-control"
        id="inputName"
        v-model="product.name"
      />
    </div>
    <div class="mb-3">
      <label for="inputPrice" class="form-label">Price</label>
      <input
        type="number"
        class="form-control"
        id="inputPrice"
        v-model="product.price"
      />
    </div>
    <button v-on:click="updateProduct()" class="btn btn-primary">Submit</button>
  </div>
</template>

<script>
import ProductService from "@/services/ProductService";

export default {
  name: "UpdateProduct",
  data() {
    return {
      product: {},
    };
  },

  methods: {
    updateProduct() {
      ProductService.updateProduct(this.product).then(() => {
        this.$router.push("/");
      });
    },
  },

  created() {
    ProductService.getProductById(this.$route.params.id).then((response) => {
      this.product = response.data;
    });
  },
};
</script>

<style>
.container {
  margin-top: 100px;
}
</style>
